<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Composition" version="9.0.2" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="9.0.2" targetFramework="net48" />
  <package id="System.Composition.Convention" version="9.0.2" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="9.0.2" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="9.0.2" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="9.0.2" targetFramework="net48" />
</packages>